<div class="container my-5">
  <div class="row">
    <h2>ジャンル編集画面</h2>
  </div>

  

  <div class="row flex-column align-items-center mt-3">
    <%= form_with model:@genre, url: admin_genre_path, local:true do |f| %>
      <div class="form-group row">
        <%= f.label :ジャンル名 %>
        <%= f.text_field :name, class: "form-control" %>
      </div>



      <div class="row">
        <%= f.submit "更新する", class: "btn btn-primary mx-auto mt-3" %>
      </div>
    <% end %>
  </div>

</div>
